.main{
    width: 100%;
    height: 500px;
    background-color: #f3f3f3;
}
.main .main-container{
    /*放大缩小不影响页面布局*/
    margin: 0 auto;
    width: 1500px;

    height: 100%;
    display: flex;
    justify-content: center;
}
/*left部分*/
.main .left ul{
    background: grey;
    height: 500px;
    width: 240px;

    display: flex;
    flex-direction: column;/*垂直*/
    justify-content: space-between;/*平均分配*/
    border-radius: 15px;
}
.main .left ul li{
    list-style-type: none;/*去除小黑点*/
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    cursor: pointer;/*鼠标指针样式*/
    display: flex;
}
.main .left ul li:hover{
    background-color: lightgreen;
}
/*箭头*/
.main .left ul li span::after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-left: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    transform: rotate(-135deg);

    margin-top: 7px;
}
.main .left ul li span{
    margin-left: auto;
    margin-right: 15px;
}
/*center部分*/
.main .center{
    display: flex;
    justify-content: center;
}
.lunbo{
    position: relative;
    width: 1000px;
    height: 500px;
    overflow: hidden;/*隐藏超出部分*/
    border-radius: 15px;
}
.lunbo .items{
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;/*图片悬停时间*/
}
/*把图片展示完整*/
.lunbo .items .item{
    min-width: 100%;
    height: 100%;
}
/*保持图片的原有尺寸*/
.lunbo .items .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*左右切换按钮*/
.lunbo .prev,.lunbo .next{
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;/*鼠标指针样式*/
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;/*去掉边框*/

    background-color: rgba(255, 255, 255, 0.8);/*白色半透明*/

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);/*添加阴影*/
    font-size: 25px;
}
.lunbo .prev:hover,.lunbo .next:hover{
    background-color: white;
}
.lunbo .prev{
    left: 15px;
}
.lunbo .next{
    right: 15px;
}
/*添加按钮图标(箭头样式)*/
.lunbo .prev::after, .lunbo .next::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
}
.lunbo .prev::after {
    transform: rotate(45deg);
    margin-left: 3px;
} 
.lunbo .next::after {
    transform: rotate(-135deg);
    margin-right: 3px;
}

.lunbo .dots{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;/*点与点之间的距离*/
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    /* z-index: 10; */
}
/*设置圆点的属性*/
.lunbo .dots li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;/*点的颜色*/
    cursor: pointer;
    transition: all 0.3s ease;
 }
.lunbo .dots li.active{
    background-color: #007bff;/*激活状态的颜色*/
    transform: scale(1.3);/*激活状态时放大*/
 }
