.nav{
    width: 100%;
    height: 50px;
    background-color: black;
}
.nav .nav-container{
    /*放大缩小不影响页面布局*/
    margin: 0 auto;
    width: 1500px;
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav ul{
    margin-right: 140px;
}
.nav ul .login{
    border: 1px solid white;
    border-radius: 5px;/*圆角*/
}
.nav ul li{
    list-style-type: none; /* 去除小黑点 */
    display: inline;/*改横向*/
    margin-left: 8px; 
    font-size: 14px; 
}
/*分割线*/
.nav ul li + li::before{
    content: "|";
    color: grey;
    margin-right: 15px;
}
.nav ul li a{
    text-decoration: none;/*去下划线*/
    color: white;
}
.nav ul li a:hover{
    color: green;
}
/*手机图片*/
.nav ul li span::before{
    content: "";
    display: inline-block;/*既能同行又能设置宽高*/
    margin-right: 4px;
    width: 15px;
    height: 15px;
    background: url("../uploads/手机.png") no-repeat center;
}
.nav ul li span{
    vertical-align: middle;
}
